<div class="container">
	<div class="row" style="margin-top:30px;">
		<div class="col col-xs-3"></div>
		<div class="col col-xs-2">
			<div class="container-fluid">
				<div class="outer">
					<div class="inner bg-danger"></div>
					<div class="textual">DR Mode</div>
				</div>
			</div>
		</div>
		<div class="col col-xs-2">
			<div class="container-fluid">
				<div class="outer active">
					<div class="inner bg-warning"></div>
					<div class="textual">Attention Needed</div>
				</div>
			</div>
		</div>
		<div class="col col-xs-2">
			<div class="container-fluid">
				<div class="outer">
					<div class="inner bg-success"></div>
					<div class="textual">Safe Mode</div>
				</div>
			</div>
		</div>
		<div class="col col-xs-3"></div>
	</div>
	<div class="container-fluid" style="margin-top:50px;">
		<div class="row bordered">
			<div class="col col-xs-2 left">Contracts</div>
			<div class="col col-xs-10 right">
				<div>Expiring in 3 months : 0</div>
				<div>Expiring in 6 months : 2</div>
			</div>
		</div>
		<div class="row bordered">
			<div class="col col-xs-2 left">Annual Drills</div>
			<div class="col col-xs-10 right">
				<div>2016 : 11/12 Applications have been tested</div>
				<div>2017 : 3/12 Applications have been tested</div>
			</div>
		</div>
		<div class="row bordered">
			<div class="col col-xs-2 left">Backups</div>
			<div class="col col-xs-10 right">
				<div>2016 : 11/12 Applications have been tested</div>
				<div>2017 : 3/12 Applications have been tested</div>
			</div>
		</div>
		<div class="row bordered">
			<div class="col col-xs-2 left">DR Triggers</div>
			<div class="col col-xs-10 right">
				<div>2016 : 0</div>
				<div>2017 : 0</div>
			</div>
		</div>
	</div>
</div>