<div class="full-screen" style="display: flex;flex-flow: column;">
	<nav class="navbar navbar-dark" style="flex: 0;">
		<a routerLink="" class="navbar-brand">
			<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		    Disaster Planning
		</a>
		<ul class="nav navbar-nav float-xs-right">
			<li class="nav-item"><a routerLink="create" class="nav-link">Product</a></li>
			<li class="nav-item"><a routerLink="create" class="nav-link">Pricing</a></li>
			<li class="nav-item"><a routerLink="create" class="nav-link">Create your company</a></li>
			<li class="nav-item"><a routerLink="find" class="nav-link">Find your company</a></li>
			<li class="nav-item"><a routerLink="login" class="btn btn-outline-success">Login</a></li>
		</ul>
	</nav>
	<div class="container-fluid" style="display: flex;flex-flow: column;justify-content: center;align-items: center;flex: 1">
		<div class="container" style="text-align: center;max-width: 1000px;">
			<h1 class="display-4 text-white">Disaster strategy planning tool for companies</h1>
			<div class="container col-xs-6" style="background: rgba(0,0,0,0.5);border-radius: 10px;padding: 25px 0px;margin-top: 20px;">
				<div class="row">
					<div class="col-xs-1"></div>
					<div class="col-xs-5">
						<a routerLink="find" class="btn btn-success">Join your company</a>
					</div>
					<div class="col-xs-5">
						<a routerLink="create" class="btn btn-info">Setup your company</a>
					</div>
					<div class="col-xs-1"></div>
				</div>
				<div class="row text-white">
					<div class="col-xs-12" style="padding-top:10px;">
						<span>Already joined your team? </span><a routerLink="login" class="text-white" style="text-decoration: underline;">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>